
@font-face {
  font-family: 'DeadStock';
  src: url('DeadStock.eot?#iefix') format('embedded-opentype'),  url('DeadStock.woff') format('woff'), url('DeadStock.ttf')  format('truetype'), url('DeadStock.svg#DeadStock') format('svg');
  font-weight: normal;
  font-style: normal;
}
