
// BOOTSTRAP COMPONENTS
@import '_functions.scss';
@import '_variables.scss';



//THEME COMPONENTS

@import 'theme/fonts.scss';
@import 'theme/_base.scss';
@import 'theme/_animations.scss';
@import 'theme/_form.scss';
@import 'theme/_landing-page.scss';
@import 'theme/_navigation.scss';
@import 'theme/_about-me.scss';
@import 'theme/_my-skills.scss';
@import 'theme/_portfolio.scss';
@import 'theme/_current-work.scss';
@import 'theme/_contact.scss';
@import 'theme/_footer.scss';
@import 'theme/_cv.scss';




