

html{
    font-size: 14px;    
}

p,label{
   font-family: 'Montserrat', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif!important;
}

body{
    overflow-x: hidden;
    position: relative;
}

@media(min-width:768px){
   html{
    font-size: 16px;
} 
}

img{
    max-width: 100%;
}

a{
    border-radius: 0!important;
}

a:hover, a:focus, a:visited{
    outline: none !important;
     text-decoration: none!important;
}

.fancybox-button--thumbs{
    display: none!important;
}

