.current-work{
    padding: 100px 0;
    background-image: url('../img/crrent-work.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
       &:before{
        content: '';
        position: absolute;
        top: -0%;
        left: -50%;
        width: 100%;
        height: 10%;
        background: $white;
        transform-origin: right;
        transform: skewY(9deg);
        z-index: 10;
    }

    &:after{
        content: '';
        position: absolute;
        top: -0%;
        right: -50%;
        width: 100.01%;
        height: 10%;
        background: $white;
        transform-origin: left;
        transform: skewY(-9deg);
        z-index: 10;
    }


    h2{
        position: relative;
        z-index: 10;
        font-size: 3rem;
    }

    .current-text{
        position: relative;
        z-index: 10;
        border:2px solid $white;
        border-radius: 5px;
    }
    
    .overlay{
        position: absolute;
        background: rgba(0,0,0,0.8);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}